body {
    font-family: Arial,  sans-serif; 
    font-size: 11px; 
    background-color: #f0f0f0; 
    color: #333333; 
}
h1 {
    color: #00a800; 
    font-size: 24px; 
    font-family: Georgia, serif; 
}

@keyframes color-change {
    0% {
      color: red;
    }
  
    50% {
      color: yellow;
    }
  
    100% {
      color: green;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}